extends layout

block content
  .container
    .jumbotron.text-center
      h1= title
      p
        a.btn.btn-success.btn-lg(href='/a', role='button', style='margin: 15px 10px;') Part A
        a.btn.btn-success.btn-lg(href='/b', role='button', style='margin: 15px 10px;') Part B
